@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,700);

:root {
    --dark-background-border-color: #696969;
    --font: "Titillium Web", sans-serif;
    --content-offset: 2.5rem;
}

/* global font, padding and margin */
body, html, iframe, #map-canvas {
    font-family: var(--font);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

html {
    font-size: 16px; /* ensure rem base value */
}

button {
    font-family: var(--font);
}

iframe#content {
    width: 100%;
    height: calc(100% - var(--content-offset));
    position: absolute;
    top: var(--content-offset);
    left: 0;
}

header {
    background-color: #393939;
    height: var(--content-offset);
    text-align: center;
}

#chart {
    font-size: 1.1rem;
}

/* generation rows */
#generations {
    position: absolute;
    top: 1.25rem;
    width: 50000px; /* large default value to be overwritten programmatically */
}

.generation {
    position: absolute;
}

/* person boxes */
.box {
    margin: 3px;
    background-color: #d7d7d7;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    --border-color: #696969;
}

.box > span, .box > div {
    padding-left: 6px;
    padding-right: 6px;
}

.linear {
    border: 2px solid var(--dark-background-border-color);
    border-top-width: 0;
}

.name {
    color: white;
    background-color: var(--dark-background-border-color);
}

.male {
    background-color: #b8cdef;
}

.female {
    background-color: #dbb5b2;
}

.box .optional {
    color: #cdcdcd;
}

.optional {
    color: #888888;
}

.id, .info {
    font-size: 0.875rem;
}

.event, .info {
    background: rgba(255, 255, 255, 0.5);
}

/* SVG links */
path {
    fill: none;
    stroke: #222222;
    stroke-width: 1px;
}

.link-parent {
    stroke-width: 2px;
}

.link-child {
    stroke: #555;
    stroke-dasharray: 2px;
}

.link-partner {
    stroke: #777;
}